<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add your game here!</h1>
    <!-- SideNote: Keep a link for other stuff (navbar)  -->
    <a href></a>

    <form action="/games" method="post">
      <label>Game Name: </label>
      <input name="gameName" type="text" />
      <br />
      <label>Platform:</label>
      <input name="platform" type="text" />
      <br />
      <label>Genre:</label>
      <input name="genre" type="text" />
      <br />
      <label>Hours Played:</label>
      <input name="hoursPlayed" type="number" />
      <br />
      <label>Completed:</label>
      <input name="completed" type="checkbox" value="true" />
      <br />
      <button>Submit Your Game</button>
    </form>
  </body>
</html>
